*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

.pg-1{
    background: linear-gradient(
        90deg,
        #FFF2F7 0%,
        #F7F1FF 45%,
        #EEF6FF 100%
    );   

}

.total{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 20px 40px;
    color: #5A4A7A;
    background-color: white;
    width: 100%;
}
.logo-heading{
    font-family: 'Quicksand', sans-serif;
   
}

.menu ul{
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    gap:30px
    
}
.menu ul li a{
    margin: 10px;
    
}
.menu ul li a:hover{
    border-radius: 10px;
    background-color: #F2E9FF;
    color: #7A3EFF;
    padding: 5px 10px;


}
.content{
    text-align: center;
    margin-top: 50px;
    font-family: 'Times New Roman', Times, serif;
    
}
.content h1{
    font-weight: lighter;
    
   
}
.content .para{
    font-weight: lighter;
    font-style: italic;
    font-size: small;
    color: #5A4A7A;

}
.compass-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

p{
    text-align: center;
    font-size: small;
    margin-top: 15px;
  }

 .whole{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
 }  
 .compass-container{
    width:350px ;
    height: 320px;
    position: relative;
 }
 .circle{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;   /*if this line is not there then the text would appear parallel to emoji since default flex direction is row*/
    border-radius: 50%;
    font-size: 30px;
    width: 70px;
    height: 70px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.11);
    position: absolute;
    /* transition: 0.3s; */
    transition: transform 0.25s ease, box-shadow 0.25s ease;
   
   
 }
 .circle:hover{
    /* transform: scale(1.02);* */   /*you cannot use this since happy and anxious already have transform.transform gets replaced on hover, so we repeat translateX to keep the circle centered*/
    transform: translateY(-6px);
    
 } 
 .happy:hover,
.anxious:hover{
  transform: translateX(-50%) translateY(-6px);
}

 .circle span{
    opacity: 0;
    transition: 0.3s;
    font-size: 12px;

 }
 .circle:hover span{
    opacity: 1;
    color: #3d3d3d;
    
 }
 
 .center{
    
    text-align: center;
    font-size: 15px;
    background-color: white;

 }
 .happy{
    
    top: 2px;
    left: 50%;
    transform:translateX(-50%);
    background: #FFE86B;
 }
 .sleepy{
    
    top: 20%;
    left: 10%;
    background: #8FA2FF;
 }
 .sad{
    
    top: 20%;
    right: 10%;
    background: #9ED0FF;
 }
 
 .angry{
    
    bottom: 20%;
    right: 10%;
    background:#FFB3B3 ;
   
 }
.calm{
    
    bottom: 20%;
    left: 10%;
    background: #9CFFB5;
 
}
.anxious{
    bottom: 2px;
    left: 50%;
    transform:translateX(-50%);
    background:#D8B6FF ;
}
.emoji{
    font-size: 60px;
    animation: move 2s infinite;
}
@keyframes move{
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-8px); }
  100% { transform: translateY(0); }
}
.pg-smile{
    background: linear-gradient(
  to right,
  #fff1a8,
  #fff6dc,
  #fdeee4
);}
.pg-smile section{
    display: flex;
    justify-content: center;
    align-items: center;
}
.mood-card{
    border-radius: 30px;
    width: 400px;
    height: 350px;
    text-align: center;
    padding: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
    background: rgba(255, 245, 230, 0.75);
    box-shadow:
    0 25px 45px rgba(0,0,0,0.12),   /* outer soft shadow */
    inset 0 1px 0 rgba(255,255,255,0.6); /* inner light */
    font-family: 'Playfair Display', serif;

    
}
.mood-card h2{
    color: #b36a00;
    font-weight: 700;
   

}
.mood-card p{
    margin-bottom: 30px;
    font-size: small;
    font-weight: lighter;
    color: #3d3a4a;


}
.buttons{
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;
   
}

.btn-top{
  display: flex;
  gap: 20px;
  
}

.btn-top button{
  width: 150px;
  flex: 1;
}

.btn-btm{
  width: 100%;
}
.btns{
    padding: 6px;
    border: none;
    border-radius: 10px;
    background-color: white;
    transition: transform 0.25s ease, box-shadow 0.25s ease;

}
.btns:hover{
    
    color: #5A4A7A;
    transform: translateY(-4px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.15);

}
.pg-journal{
    background: linear-gradient(
        90deg,
        #FFF2F7 0%,
        #F7F1FF 45%,
        #EEF6FF 100%
    );   
    /* display: flex;
    justify-content: center;
    align-items: center; */

}

.journal{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;     
    margin-bottom: 120px;
    /* width: 500px; */
}

.headings{
  
    padding: 40px;
    text-align: center;
    color: #5A4A7A;
}
.entry-box{
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 18px 40px rgba(0, 0, 0, 0.12);
    background-color: #FFF2F7;
    margin-bottom: 40px;
    padding: 30px; 
    width: 70%;       
    max-width: 500px;    
    
    
    
}
textarea{
    /* margin: 40px; */
    /* width: 80%; */
    /* height: 140px; */
    margin: 10px auto;     
    width: 100%;            
    height: 200px;         
    padding: 16px; 
    border: none;
    resize: none;
    border-radius: 16px;
    padding-left: 10px;
    padding-top: 3px;
    outline: none;   
    scrollbar-width: thin;          
      
}

textarea:focus{
    border: 1px solid  #FFB3B3 ;
   
}

.entry-box-bg button{
    background: linear-gradient(90deg, #caa7ff, #f6a2d5);
    border: none;
    padding: 5px;
    border-radius: 4px;
    color: whitesmoke;
    margin-bottom: 30px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;


}
.entry-box-bg button:hover{
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.tips{
     background: linear-gradient(
        135deg,
        #eefcfd,
        #f6f9ff,
        #fdf3ff
    );
}

.container{
    max-width:1200px;
    margin:40px auto;
    padding:0 40px;
}

.header h1{
    font-size:48px;
    margin-bottom:8px;
    text-align: center;
}

.header p{
    color:#555;
    font-size:18px;
    margin-bottom:40px;
}

.cards{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap:30px;
}

.card-blue,
.card-green,
.card-purple,
.card-peach,
.card-yellow,
.card-pink{
    display:flex;                 
    align-items:center;          
    gap:20px;
    padding:25px;
    border-radius:20px;
    box-shadow:0 15px 30px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}

.icon{
    width:52px;
    height:52px;
    border-radius:15px;
    background:#fff;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:24px;
}

.text h3{
    
    font-size:20px;
}

.text p{
    margin-top:6px;
    font-size:15px;
    color:#555;
}

.card-blue{
    background: linear-gradient(135deg, #dff6ff, #cbeeff);
}

.card-green{
    background: linear-gradient(135deg, #ddffef, #c9f7e0);
}

.card-purple{
    background: linear-gradient(135deg, #f1e9ff, #e6dbff);
}

.card-peach{
    background: linear-gradient(135deg, #fff1cf, #ffe6b3);
}

.card-yellow{
    background: linear-gradient(135deg, #fff6cc, #ffefaa);
}

.card-pink{
    background: linear-gradient(135deg, #ffe4ea, #ffd6e0);
}


.card-blue:hover,
.card-green:hover,
.card-purple:hover,
.card-peach:hover,
.card-yellow:hover,
.card-pink:hover{
    transform: translateY(-4px);
    transition: 0.3s ease;
}
.paras{
    display:flex;                 
    align-items:center;          
    gap:20px;
    padding:25px;
    border-radius:20px;
    box-shadow:0 15px 30px rgba(0,0,0,0.1);
    margin-bottom: 20px;
    background-color: transparent;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
}
.paras p{
    font-size: 20px;
}